/********************BODY***********************/
* {
    box-sizing: border-box;;
    font-family: 'Open sans', bold;
}
body {
	margin: 0px;
}
/********************HEADER*********************/
.header {
    background-color: #1F1F3D;
    height: 75px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.header__h1 {
    text-transform: uppercase;
    margin: 12px 0px 18px 10px;
    font-weight: 800;
    font-size: 2.5em;
}

.header__span {
    color: #FFC30C;
}

.header__div {
	display: flex;
	flex-direction: row;
    margin-right: 10px;
    border: 3px solid #1F1F3D;
}

.header__div--search--icon {
    height: 40px;
    width: 40px;
    background-color: #CDD3D9;
    margin-top: 12px;
    margin-right: 0px;
    padding: 2%;
}
.header__div--search {
    font-size: 1em;
    height: 40px;
    width: 250px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 12px;
}

/*******************MAIN CONTENT********************/
.main__content {
	display: flex;
	height: 100vh;
}
/*******************MAIN ASIDE**********************/
.main__aside {
    background-color: #58788A;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 350px;
}
.aside__p1,
.aside__p2 {
    color: #F3F6F7;
    display: block;
    margin-left: 25px;
    margin-bottom: 0px;
}
.aside__input1 {
    font-size: 1em;
    height: 40px;
    width: 300px;
    min-width: 60%;
    display: block;
    margin: 5px 10px 10px 25px;
    padding: 0px;
    border-radius: 5px;
}

.aside__tasks{
    color: white;
    display: flex;
    flex-direction: column;
}

.new__task {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.task__body {
    margin: 0;
}

.aside__task--delete {
    height: 20px;
    width: 20px;
    margin: 17px 10px 0px 0px;
}

.aside__task--delete:hover {
    content:url('images/delete-active.svg');
}

.aside__div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:40px;
    border: 3px solid #58788A;
}

.aside__input2 {
    font-size: 1em;
    height: 40px;
    width: 267px;
    min-width: 60%;
    display: block;
    margin: 5px 0px 10px 25px;
    padding: 0px;
    border-radius: 5px;
}

.aside__plus{
    height: 40px;
    width: 40px;
    color: white;
    background-color: #1F1F3D;
    margin-top: 5px;
    padding: 2%;
}

.aside__task,
.aside__clear,
.aside__filter {
    margin: 20px 27px;
    height: 7%;
    width: 88%;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #1F1F3D;
    border: none;
    font-size: 1.3em;
}
.aside__disabled {
    background-color: #CDD3D9;
}
.aside__line {
    width: 100%;
    height: 1px;
    border-top: 2px solid #3C6577;
}
/*******************MAIN SECTION********************/
.main__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.main__section--prompt {
    font-size: 3em;
    font-weight: 800;
}

.main__section__article {
    width: 45%;
    height: 415px;
    border: 2px solid #C7D3D8;
    margin-top: 20px;
    margin-left: 20px;
}

.main__section__article--urgent {
    height: 415px;
    border: 2px solid #FFC30C;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFE89D
}

.article__h2 {
    color: #1F1F3D;
    padding: 5px 0px 5px 5px;
    margin: 0px 0px 5px 0px;
    border-bottom: 2px solid #C7D3D8;
}

.article__ul {
    display: flex;
    flex-direction: column;
    color: #1F1F3D;
    margin: 5px 5px 5px 5px;
    height: 290px;
    width: 98%;
    padding: 0px;
}

.article__item--li {
    list-style-type:none;
    margin: 5%; 
}

.article__img--checkbox {
    height: 20px;
    width: 20px;
}

.article__footer {
display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    border-top: 2px solid #C7D3D8;
}

.delete__div,
.urgent__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 30%;
    height: 90%;
}
.delete__div:hover {
    color: red;
}
.urgent__div:hover {
    color: red;
}


.article__footer--urgent--text,
.article__footer--delete--text {
    margin: 0px;    
    font-size: .8em;
}

.article__footer--urgent--text--active {
    color: red;
}
.urgent__div:hover > .article__footer--urgent {
    content:url('images/urgent-active.svg');
}

.delete__div:hover > .article__footer--delete {
    content:url('images/delete-active.svg');
}
.article__footer--urgent,
.article__footer--delete {
    height: 60%;
    width: 30%;
    margin: 5px;
    align-items: center;
}